contourpy
cycler
fonttools
geographiclib
geopy
importlib_metadata
joblib
kaleido
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
tenacity
threadpoolctl
tzdata
zipp
sphinx
sphinx-rtd-theme
sphinx-autobuild
sphinx-autoapi
sphinx pydata-sphinx-theme