name: Build and Deploy Sphinx Docs

on:
    push:
      branches:
        - develop  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          pip install sphinx pydata-sphinx-theme

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy
          pip install sphinx sphinx_rtd_theme
          pip install sphinx
          pip install sphinx-rtd-theme
          pip install sphinx-autobuild
          pip install sphinx-autoapi
          pip install nbsphinx
          pip install sphinx-copybutton
          pip install myst-nb
          pip install -r requirements.txt
          pip install setuptools
          pip install pandoc

      - name: Generate API Documentation
        run: |
          sphinx-apidoc -f -o source/ RCAIDE
      - name: Build HTML
        run: |
          cd docs
          make html

      - name: Add Custom Domain
        run: echo "www.docs.rcaide.leadsresearchgroup.com" > docs/build/html/CNAME
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/html
